
.contact .header {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 7px;
}

.contact .caption {
    display: block;
    font-weight: bold;
}

.contact .caption,
.contact .data {
    display: block;
}

.contact p{
    display:inline-block;
}

footer p{
    color:#444;
}

.bg-dark {
    background-color: #1692c6 !important;
}